<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid pt-1 px-3">
    <h4><%= typeof title !== 'undefined' ? title : 'لوحة التحكم' %></h4>
  </div>
</nav>
<!-- End Navbar -->
